		
<section id = "index">
	<div class="homepage-nav-item knitting-button">
		<a href="knitting.html" target=" _self">Knitting</a>
	</div>
	<div class="homepage-nav-item crochet-button">	
		<a href="crochet.html" target=" _self">Crochet</a>
	</div>
	<div class="homepage-nav-item yarn-button">	
		<a href="dyeing_yarn.html" target=" _self">Yarn</a>
	</div>
	<div class="homepage-nav-item projects-button">	
		<a href="projects.html" target=" _self">Projects</a>
	</div>
	<div class="homepage-nav-item contact-button">	
		<a href="contact.html" target=" _self">Contact</a>
	</div>			
</section>

